GIRC_SERVER=irc.libera.chat
GIRC_PORT=6697
GIRC_NICK=dmedovich
GIRC_USER=dmedovich
GIRC_REALNAME=YourNick
GIRC_CHANNELS=#zig,#lobsters,##rust,#go-nuts
GIRC_SASL_USER=dmedovich
GIRC_SASL_PASS=your-nickserv-password

# Set to true only for plaintext IRC servers.
GIRC_PLAIN=false
